
header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 47, 49);
    color: white;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    
}

.bitShow{
    margin: 3px;
    font-size: 10px;
    padding-top: 6px;
 }
 
 .search{
     margin: 5px;
     width: 120px;
     text-align:left;
 }

 footer{
    background-color: rgb(48, 47, 49);
    height: 60px;
    color: white;
    text-align: center;
    
}

.copy{
    padding-top: 10px;
    font-size: 12px;
}

.container{
    display: flex;
    justify-content: center;
}

.seasons-list{
    margin-left: 20px;
}

/* .main{
    /* height: 100vh; */
/* } */ 

.show-img{
    width: 450px; 
   justify-content: center;
}

.nameOfMovie{
    text-align: center;
    font-size: 40px;
}
.summary-div{
    margin-left: 27%;
    width: 80%;
}
.summary{
    
    width: 80%;
}

.first{
    background-color: darkslategray;
}
